<style>
    #productManagementTable_length {
        font-size: 14px;
        padding: 15px 15px 15px 15px;
        position: sticky;
        z-index: 10;
        left: 0;
        background-color: #f9fafb;
    }

    #productManagementTable_length select{
        background-color: white;
    }

    #productManagementTable_filter {
        font-size: 14px;
        padding: 15px 15px 15px 15px;
    }

    #productManagementTable_filter input{
        background-color: white;
    }

    #productManagementTable_info {
        font-size: 14px;
        padding: 15px 15px 15px 15px;
        position: sticky;
        z-index: 10;
        left: 0;
        background-color: #f9fafb;
    }

    #productManagementTable_paginate {
        font-size: 14px;
        padding: 7.5px 15px 0px 15px;
    }

    table {
        border-width: 1px
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0.5px;
        column
    }

</style>

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Product List
            </h2>
            <div class="d-flex gap-3">
                <a href="/admin/admin-add-product"><button
                        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Add Product
                    </button></a>
                <a href="/admin/product-offer"><button
                        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Product Offer
                    </button></a>
            </div>
        </div>

        <!-- With avatar -->
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table id="productManagementTable" class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3"
                                style="position:sticky; z-index:10; left: 0; background-color: white;">Name</th>
                            <th class="px-4 py-3 text-center">Image</th>
                            <th class="px-4 py-3">Price</th>
                            <th class="px-4 py-3">Description</th>
                            <th class="px-4 py-3">Stock</th>
                            <th class="px-4 py-3">Category</th>
                            <th class="px-4 py-3">Edit</th>
                            <th class="px-4 py-3">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {{#each productList}}
                        <tr class="text-gray-700 dark:text-gray-400 ">
                            <td class="px-4 py-3 text-wrap"
                                style="position:sticky; z-index:1; left: 0; background-color: #f9fafb; max-width: 250px">
                                <div class="flex items-center text-sm">
                                        <p class="font-semibold">{{this.Name}}</p>
                                </div>
                            </td>
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm" style="width: 90px;">
                                    <!-- Avatar with inset shadow -->
                                    <div class="relative hidden mr-3  md:block" style="width:auto; height:auto">
                                        <img class="" src="/product-images/{{this._id}}.jpg" alt="" loading="lazy"
                                            style="width:90px; height:90px; object-fit: contain;" />
                                        <div class="absolute inset-0" aria-hidden="true"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                ₹{{this.Price}}
                            </td>
                            <td class="px-4 py-3 text-sm text-truncate" style="max-width: 300px">{{this.Description}}</td>
                            <td class="px-4 py-3 text-sm">
                                {{this.Stock}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                {{this.categoryName}}
                            </td>
                            <td class="px-4 py-3 text-xs"><a href="/admin/admin-edit-product/{{this._id}}">
                                    <span
                                        class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                        Edit
                                    </span></a>
                            </td>
                            <td class="px-4 py-3 text-xs"><a href="/admin/admin-delete-product/{{this._id}}"
                                    onclick="return confirm('Are you sure you want to delete {{this.Name}} ?')">
                                    <span
                                        class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                                        Delete
                                    </span></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#productManagementTable').DataTable();
    });
</script>