<style>
    .btn {
        background-color: white;
        border: 1px solid black;
        font-weight: bold;
    }

  .shopping__cart__table table thead tr th {
    padding-bottom: 12px;
}
   
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Wallet History</h4>
                    <div class="breadcrumb__links">
                        <a href="/profile">Profile</a>
                        <a href="/wallet-history">Wallet History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart ">
    <div class="container py-5 mb-5 mt-3">
        <div class="shopping__cart__table">
            <table id="walletHistoryTable" class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="align-middle text-center">Sl No.</th>
                        <th class="align-middle text-center">Date</th>
                        <th class="align-middle text-center">Order Id</th>
                        <th class="align-middle text-center">Refund Amount</th>
                        <th class="align-middle text-center">Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each walletHistory}}
                    <tr>
                        <td class="align-middle">
                            {{inc @index}}
                        </td>
                        <td class="align-middle">
                           {{this.date}}
                        </td>
                        <td class="align-middle">{{this._id}}</td>
                        <td class="align-middle">{{this.totalAmount}}</td>
                        {{#if this.is_Returned}}
                        <td class="align-middle" style="color:rgb(117, 128, 0); font-weight:bold">Returned</td>
                        {{else}}
                        <td class="align-middle" style="color:red; font-weight:bold">Cancelled</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="float-right">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="continue__btn">
                    <a href="/">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Js Plugins -->
<script src="./users/js/jquery-3.3.1.min.js"></script>
<script src="./users/js/bootstrap.min.js"></script>
<script src="./users/js/jquery.nice-select.min.js"></script>
<script src="./users/js/jquery.nicescroll.min.js"></script>
<script src="./users/js/jquery.magnific-popup.min.js"></script>
<script src="./users/js/jquery.countdown.min.js"></script>
<script src="./users/js/jquery.slicknav.js"></script>
<script src="./users/js/mixitup.min.js"></script>
<script src="./users/js/owl.carousel.min.js"></script>
<script src="./users/js/main.js"></script>

<script>
    $(document).ready( function () {
    $('#walletHistoryTable').DataTable();
} );
</script>

